# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and databases
*.log
db.sqlite3

# Pytest cache
.pytest_cache/

# VSCode settings
.vscode/

# MacOS and Linux
.DS_Store
.idea/

# Environment variables
.env
*.env

# MyPy type checking
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
*.cover
